venv/
*.egg-info*
__pycache__
.idea
*checkpoint.py
build
dist
tests/radiosonde
tests/plots
tests/data/lblout
xs
FSCDXS
mwrpy_sim/rad_trans/coeff/ssp*
mwrpy_sim/rad_trans/coeff/solar*
mwrpy_sim/rad_trans/coeff/TAPE*
mwrpy_sim/rad_trans/coeff/irt_srf*
*.nc
